<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-md-8">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>{{user.name}}</strong></li>
        <li>{{user.email}}</li>
      </ul>
      <a href='/users/{{user.id}}/edit'>
        <button type="button" class="btn btn-primary">Edit</button>
    </div>
  </div>
  <hr>
</div>